.body{
background-color: rgba(177, 177, 177, 0.897);
font-family: Arial, Helvetica, sans-serif;
margin:0;
font-size: 14px

}
.headersizexl{
    font-size: 50px;
    font-weight: bolder;
}

.headersize{
    font-size:40px;
    font-weight: bold;
}

.textsize{
    font-size: 30px
}

.common{
    text-align: center;
}

.header{
background-color: black;
color: white;
text-align: center;
line-height: 100px;
height:100px;
right: 0px;
left: 0px;
top: 0px;
width: 100%;
}

.header h1{
    margin: 0;
}

.navbar{

    color: black;
    margin: 0;
    line-height: 40px;
    height: 40px;
    left: 0px;
    right: 0px;
    width: 100%;
}


nav a:hover{
    background-color: rgb(150, 149, 207)
}

a{
    color: black !important;
    font-size: 18px;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    text-align: center;
}
.footer{
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
    left: 0px;
    right: 0px;
}

img{
    width: 500px;
    display: block;
    margin: 0 auto;
}

.header, .footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

tableauPlaceholder{
    width: 300px;
}